<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body class="grey lighten-4">

    <!-- Navbar -->
    <nav class="blue darken-3">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">Employee Management</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/showNewEmployeeForm">Add Employee</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main Container -->
    <div class="container">
        <h3 class="center-align">Add New Employee</h3>

        <!-- Card for Form -->
        <div class="card-panel white z-depth-2">
            <form th:action="@{/saveEmployee}" th:object="${employee}" method="post">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">person</i>
                        <input id="first_name" type="text" class="validate" th:field="*{firstName}" required>
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">person_outline</i>
                        <input id="last_name" type="text" class="validate" th:field="*{lastName}" required>
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" class="validate" th:field="*{email}" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row center-align">
                    <button type="submit" class="btn waves-effect waves-light blue">
                        <i class="material-icons left">person_add</i>Add Employee
                    </button>
                </div>
            </form>
        </div>

        <!-- Back Link -->
        <div class="center-align">
            <a th:href="@{/}" class="btn-flat blue-text">
                <i class="material-icons left">arrow_back</i>Back
            </a>
        </div>
    </div>

</body>
</html>
